.autoContainer{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
   justify-content: center;
    padding: 20px 0;
}

.autoContainer h1 {
    color: #ffffff;
    margin-top: 10px;
    margin-left: 30px;
}

@media (max-width: 500px) {

    .autoContainer h1 {
        font-size: 20px;
        top: 25px;
    }

}
